body{
	margin : 0;
	background-image : url('cafe.jpg');
	background-size: cover;
	background-color : rgba(128,128,128,0.2);

}
p{
	margin : 0;
}
h1{
	margin : 0;
	font-size : 50px;
}
li{
	list-style: none;
}
.header{
	height : 50px;
	width : 100%;
	line-height: 50px;
	color : white;
	font-weight : bold;
	background-color : rgba(128,128,128,0.2);
}
.header-right{
	float : right;
	padding-right : 20px;
}
.header-right li{
	float: left;
	margin-right : 10px;
	transition: all 1s;
}
.header-right li:hover{
	background-color :#f0f8ff;
}

.header-left{
	float : left;
	padding-left : 20px;
}
.header-link{
	color : white;
	text-decoration: none;
}

.top-wrapper{
	margin-top : 60px;
	height : 800px;
}
.top-wrapper-content{
	height : 800px;
	text-align: center;
	color : white;
}
.top-wrapper-content p{
	margin-bottom : 30px;
}
.sign-up-btn{
	font-size: 20px;
	letter-spacing: 4px;
	border : 2px solid white;
	color : white;
	padding : 5px;
	text-decoration: none;
	transition: all 1s;
}
.sign-up-btn:hover{
	background-color : #f0f8ff;
}

.sign-up,.sign-in{
	text-align: center;
	color :white;
}
.actions-btn{
	font-size : 50px;
}
.profile{
	text-align :center;
	color : white;
}
.profile_image{
	border-radius: 30px;
	height : 60px;
	width : 60px;
}
